<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mock Title</title>
</head>
<body>
<div class="header"></div>

<div class="content">
    <p class="pclass"></p>
    {% if failed %}
    <h2 attr="success failed"> 200 but failed </h2>
    {% else %}
    <h2 attr="correct page"> 200 and success. </h2>
    {% endif %}
    <table>
        <thead>
        <tr>
            <td>mock 1.1</td>
            <td>mock 1.2</td>
        </tr>

        <tr>
            <td>mock 2.1</td>
            <td>{{ info }}</td>
        </tr>
        <tr>
            <td>mock 3.1</td>
            <td><a href="3.2's uri">3.1</a></td>
        </tr>

        {% for person in persons %}
        <tr>
            <td class="person">{{ person }}</td>
        </tr>
        {% endfor %}
        </thead>
    </table>
</div>

<div class="footer"></div>

</body>
</html>